{% extends "base.html" %}
{% block content %}

<h1>Leave Requests</h1>

<table border="1" cellpadding="10">
    <thead>
        <tr>
            <th>Name</th>
            <th>ID</th>
            <th>Reason</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody id="leaveTable"></tbody>
</table>

<script>
fetch("/leaves")
.then(res => res.json())
.then(data => {
    const table = document.getElementById("leaveTable");

    if (data.length === 0) {
        table.innerHTML = "<tr><td colspan='5'>No requests</td></tr>";
        return;
    }

    data.forEach(l => {
        const row = document.createElement("tr");

        row.innerHTML = `
            <td>${l.name}</td>
            <td>${l.student_id}</td>
            <td>${l.reason}</td>
            <td>${l.status}</td>
            <td>
                ${
                    l.status === "pending"
                    ? `
                    <button onclick="approve(${l.id})">Approve</button>
                    <button onclick="reject(${l.id})">Reject</button>
                    `
                    : "✔ Done"
                }
            </td>
        `;

        table.appendChild(row);
    });
});

function approve(id) {
    fetch("/approve-leave", {
        method: "POST",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({leave_id: id})
    })
    .then(res => res.json())
    .then(data => {
        alert(data.message);
        location.reload();
    });
}

function reject(id) {
    fetch("/reject-leave", {
        method: "POST",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({leave_id: id})
    })
    .then(res => res.json())
    .then(data => {
        alert(data.message);
        location.reload();
    });
}
</script>

{% endblock %}